@charset "utf-8";

/************************************************ 
Version : 
Date : 2020-10-17
*************************************************/ 
@import "owl.carousel.min.css"; 
@import "owl.theme.default.min.css";
  
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/nanum-gothic-v13-korean_latin-regular.eot'); /* IE9 Compat Modes */
	src: local('NanumGothic'),
		url('../fonts/nanum-gothic-v13-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/nanum-gothic-v13-korean_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/nanum-gothic-v13-korean_latin-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/nanum-gothic-v13-korean_latin-700.eot'); /* IE9 Compat Modes */
	src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
		url('../fonts/nanum-gothic-v13-korean_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/nanum-gothic-v13-korean_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-700.woff') format('woff'), /* Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/nanum-gothic-v13-korean_latin-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/nanum-gothic-v13-korean_latin-800.eot'); /* IE9 Compat Modes */
	src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'),
		url('../fonts/nanum-gothic-v13-korean_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/nanum-gothic-v13-korean_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-800.woff') format('woff'), /* Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/nanum-gothic-v13-korean_latin-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
 
/************* 
	reset 
*************/ 
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,
h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,
table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;}
article,aside,details,dt,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}

blockquote,q{quotes:none;}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none;}
hr{display:none;}
ol,ul{list-style:none;}
table{border-spacing:0;border-collapse:collapse;}

abbr[title]{border-bottom:1px dotted}
mark{background:#ff0;color:#000}
sub,sup{position:relative;vertical-align:baseline;line-height:0;}
sup{top:-.5em}
sub{bottom:-.25em}
svg:not(:root){overflow:hidden}
pre,textarea{overflow:auto}
button {outline:none;}
i {font-style: normal;}

/* --- 기본설정 --- */
* {box-sizing:border-box; -webkit-tap-highlight-color:rgba(0,0,0,.1);}
::-webkit-input-placeholder {font-size:inherit; color:#999;}
::-moz-placeholder {font-size:inherit; opacity:1;}
html {font-size:10px; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;height:100%;}
body {font-size:12px; color:#333;  line-height:150%; font-family: "Nanum Gothic", "굴림", Gulim, Dotum, Helvetica,sans-serif; font-weight:400; width:100%; height:100%;}

strong{font-weight:700;}
em, b {font-style:normal}
a {cursor:pointer; background-color:transparent; color:inherit;}
a,label,span{display:inline-block;}
a, a:hover{text-decoration:none;}
a:hover, a:focus, a:hover{outline:0;}

.clearfix{*zoom:1;}
.clearfix:after,.clearfix:before{display:table;line-height:0;content:'';}
.clearfix:after{clear:both;}
.hidden, caption{position:absolute;overflow:hidden;clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;padding:0;border:0;}

button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button; border-radius:0;}
button,input,optgroup,select,textarea{margin:0;font:inherit;}
button,select{text-transform:none}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;outline:0;}
input{line-height:normal;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;vertical-align:middle;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{height:auto;}
input[type=search]{-webkit-appearance:textfield;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
optgroup{font-weight:bold}

button{margin:0;padding:0;cursor:pointer;border:0;background:0 0;}
input[type=checkout],input[type=radio]{margin-right:.4rem; padding:.6rem .5rem .4rem; border:1px solid #555;}
input[type=search]{box-sizing:content-box}
input[type=number],input[type=password],input[type=tel],input[type=text]{padding:6px 10px; border:1px solid #d5d5d5;}
select{padding:.6rem;border:1px solid #d5d5d5;}
textarea {padding:10px; border:1px solid #d5d5d5; width:100%;}
 
/************* 
	공통 
*************/ 
/*테이블 상단 검색*/
.search-area { padding:1rem; background:#f0f0f0; margin-bottom:2rem;} 
.search-area input {width:20rem; padding-left:1.5rem; height:3rem; line-height:3rem;}
.search-area .btn_search {width:6rem; height:2.8rem; background:#a2a2a2; color:#fff; border-radius:3px; font-weight:700} 

/*table*/
.tblWrap{border-top: 2px solid #1a5394; margin-bottom:2rem; }
.tblWrap.search{border:1px solid #dedede; border-width:1px 1px 0; margin-bottom:20px}
.tb-list .checktext {display:inline-block; width:100px}
.tb-list {width:100%}
.tb-list.row {width:100%}
.tb-list thead th {height:4rem; line-height:4rem; background:#f8f8f8; border-bottom:1px solid #dedede;}
.tb-list thead th input[type=checkbox]{vertical-align: middle;} 
.tb-list tbody td {padding:8px 5px 8px; border-bottom:1px solid #dedede; text-align:center;}
.tb-list tbody td > a {color:#333; display:inline-block;} 
.tb-list tbody tr.new td a {font-weight:700;}
.tb-list tbody td img {vertical-align:middle}
.tb-list tbody td.left {text-align:left; padding-left:1rem;}
.tb-list tbody td.file img{margin-left:8px;}
.tb-list.row th {background:#f8f8f8; border-left:1px solid #dedede;}
.tb-list.row td {text-align:left; padding-left:2rem;}
.tb-list.row tr th:nth-of-type(1) {border-left:0; border-right:1px solid #dedede;} 
.tb-list.row tr th:nth-of-type(2),
.tb-list.row tr th:nth-of-type(3) {border-right:1px solid #dedede;} 
.tb-list.line th + th {border-left:1px solid #dedede;} 
.tb-list.line td + td {border-left:1px solid #dedede;}
.tblWrap + .tblWrap {margin-top:20px}
.tb-list tbody.line {border-top:2px solid #dedede;}
.tb-list tbody td input[type=file]{width:160px}
.tb-list tbody td strong.ing { font-weight:700; color:#1a70d3;}
.tb-list tbody td strong.end {font-weight:700;}

.viewarea {border-top: 2px solid #7469bb; margin-bottom:20px;border-bottom:1px solid #dedede; }
.viewarea .viewarea_top {border-bottom:1px solid #dedede; padding:1.5rem 2rem; background:#f8f8f8; }
.viewarea .viewarea_top span {margin-right:2rem}
.viewarea .viewarea_top span b {margin-right:1rem}
.viewarea .viewarea_conts {padding:2rem;}

/*paging*/
.paging {margin-bottom:30px; text-align:center;}
.paging  a{display: inline-block; width:2.2rem; height:2.2rem;  line-height:2.2rem; text-align:center; position:relative; vertical-align:top;}
.paging  a.active {color:#000; font-weight:700; text-decoration:underline;}
.paging  a:nth-of-type(3):before {display:none}
.paging  a.prev {margin-right:5px;}
.paging  a.next {margin-left:5px;}
.paging  a.prev:after {content:""; position:absolute; left:.5rem;; top:.3rem;; width:1.8rem; height:1.8rem; background: url('../img/portal/icon_paging.png') no-repeat -22px 0;}
.paging  a.next:after {content:""; position:absolute; left:.7rem;; top:.3rem;; width:1.8rem; height:1.8rem; background: url('../img/portal/icon_paging.png') no-repeat 0 -19px;}
.paging  a.first:after{content:""; position:absolute; left:.7rem;; top:.3rem;; width:1.8rem; height:1.8rem; background: url('../img/portal/icon_paging.png') no-repeat 0 0;}
.paging  a.last:after {content:""; position:absolute; left:.6rem;; top:.3rem;; width:1.8rem; height:1.8rem; background: url('../img/portal/icon_paging.png') no-repeat -22px -19px;}
.paging  a.prev:before,
.paging  a.next:before,
.paging  a.first:before,
.paging  a.last:before {display:none}
.btn_wrapper + .paging {margin-top:0;}
  

/************************** 
	layout  
**************************/ 
.wrapper {width:100%; height:100%; position:relative;} 
.header {position:relative; height:9.9rem; width:100%;  z-index:3; background: #0b3d90; border-bottom:4px solid #fff;}  
.header .inner {position:relative; width:105rem; margin:0 auto; height:9.5rem; z-index:3}
.header .inner h1 {position:absolute; left:0; top:1.7rem; width:31rem;}  
.header .inner h1 a {display:block; height:6rem; color:#0f0b0b; font-size:0; letter-spacing:-1px; background: url('../img/logo.png') no-repeat 0 0; padding-left:18rem; padding-top:1rem}
 
.header nav {position:absolute; right:100px; top:0; height:9.5rem; padding-left:2.5rem; z-index: 2;}
.header .after {display:none; content:""; position:absolute;left:0;right:0; width:100%; top:13rem; height:13rem; background:#f5f5f5; z-index:1;border-top:1px solid #cacaca; border-bottom:1px solid #cacaca;} 
.header nav .depth01 > li {float:left;}
.header nav .depth01 > li > div {position:relative;}
.header nav .depth01 > li > div .depth02 {display:none; position:absolute; z-index:11; top:1rem; left:0; padding:10px 0 10px 2.5rem; width:100%;} 
.header nav .depth01 > li > a {display:block; height:7rem; font-size:1.8rem; font-weight:700; position:relative; padding:3.7rem 2rem 0; text-align:center; color:#fff;}
.header nav .depth01 > li.on > a {color:#ffd200; position: relative;} 
.header nav .depth01 > li.on > a:after{content:""; position:absolute; top:1.7rem; left:50%; width:1rem; height:1rem; margin-left:-.5rem; background:#ffd200; border-radius:2.4rem;} 
.header nav .depth02 li a{display:block; line-height:120%; padding-left:1.5rem; margin-bottom:.5em; position: relative; margin-bottom:.7rem;}
.header nav .depth02 li a:before {content:"ㆍ"; position: absolute; left:0; top:0; font-size:2rem; color:#000;}
.header nav .depth02 li a:hover {color:#2e74e1; font-weight:700; text-decoration:underline;} 
.header nav .depth02 li a:hover:before {font-weight:400;}  
.header .login-btn-wrap { position:absolute;right:0; top:3rem}
.header .login-btn-wrap a{display: inline-block; background:#75a2ed; color:#fff; height:3rem; line-height:3rem; width:8rem; border-radius:3.6rem; text-align:center; } 

.footerWrap {width: 100%; height:12.3rem; background:#3b3b3b;}   
.footer {width:100%; width:105rem; margin:0 auto;}
.footer p {margin:0 auto; padding:3.8rem 0 3rem 22rem; color:#898989; background: url('../img/logo_foot.png') no-repeat 0 3rem;}
.footer p span{display:block; line-height:150%}  

/* main*/  
.main-container {position:relative; min-width:105rem; width:100%; display:table; table-layout: fixed; height: calc(100% - (99px + 108px));}  
.main-header {position: relative; background:#ccc url('../img/bg_main.png') no-repeat 50% 0;}   
.main-header .inner {width:105rem; margin:0 auto;  padding:3rem 0 0 25rem; height:47rem; overflow: hidden; }    

.main-container .mconts { position: relative; width:101rem; margin:0 auto ;} 

.mconts-box {overflow:hidden; margin-bottom:6rem; position:relative; padding-top:4.5rem;}
.mconts-box .boxleft {float:left; width:70.5rem; position:relative;}
.mconts-box .notice_tab{height:6rem; overflow: hidden;} 
.mconts-box .notice_tab li{float: left; width:50%;}
.mconts-box .notice_tab li a{height:6rem; display:block; text-align:center; font-weight:700; padding-top:2.2rem; border:1px solid #e4e4e4; font-size:1.6rem;} 
.mconts-box .notice_tab li:last-child a {border-left:0;} 
.mconts-box .notice_tab li.current {background-color:#fff;}
.mconts-box .notice_tab li.current a{border-top:3px solid #0b3d90; border-bottom:0; padding-top:1.7rem; color:#4B62AD; color:#0b3d90; background: url('../img/icon_arrow01.png') no-repeat 50% 4rem;}
.mconts-box .notice_wrap {border:1px solid #e4e4e4; border-top:0; padding:0 2rem 2rem; }
.mconts-box .notice {width:100%; display:none;}  
.mconts-box .notice.current{display:block;}  
.mconts-box .notice-list li { border-bottom:1px solid #e4e4e4; }
.mconts-box .notice-list li:last-child {border:0;}
.mconts-box .notice-list li a {display:block; padding:2.2rem 1rem;overflow: hidden;}
.mconts-box .notice-list li a dl {overflow: hidden;}
.mconts-box .notice-list li a dl dt {width:15%; float:left; text-align: center;}
.mconts-box .notice-list li a dl dt strong {display:block; font-size:3.9rem; line-height:100%; letter-spacing:-.3rem;}
.mconts-box .notice-list li a dl dt span {display:block; color: #6c6c6c; font-size:1.7rem;}
.mconts-box .notice-list li a dl dd {width:85%; float:left;}
.mconts-box .notice-list li a p {  overflow: hidden; text-overflow:ellipsis; white-space: nowrap; margin-bottom:.5rem; font-weight:700;} 
.mconts-box .notice-list li a p em {color:#2b66c7; margin-right:.5rem;} 

.mconts-box .boxright {float:right; width:26.4rem; position:relative;  overflow: hidden;}  
.mconts-box .boxright .banner-box {background: #f1f1f1; padding:1.2rem; width:20rem; height: 18.5rem; margin:0 auto 2rem;}
.mconts-box .boxright .banner-box strong {display: block; font-size:1.6rem; margin-top:1rem;background: url('../img/icon_arrow.png') no-repeat 100% .2rem;}
.mconts-box .boxright .banner-box span {display: block; font-size:1.1rem; margin-top:.5rem; color: #848484;}