@charset "utf-8";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
/************************************************ 
Version : 
Date : 2019-12-16
*************************************************/   
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 300;
   src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Light.woff) format('woff'),
        url(../fonts/NotoSansKR-Light.otf) format('opentype');
 }
 @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Regular.woff) format('woff'),
         url(../fonts/NotoSansKR-Regular.otf) format('opentype');
 }
 @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Medium.woff) format('woff'),
         url(../fonts/NotoSansKR-Medium.otf) format('opentype');
 }
 @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Bold.woff) format('woff'),
         url(../fonts/NotoSansKR-Bold.otf) format('opentype');
 }
 @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Black.woff) format('woff'),
         url(../fonts/NotoSansKR-Black.otf) format('opentype');
 }

/* reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,
h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,
table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0; box-sizing:border-box;}
article,aside,details,dt,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}

blockquote,q{quotes:none;}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none;}
hr{display:none;}
ol,ul{list-style:none;}
table{border-spacing:0;border-collapse:collapse;}

abbr[title]{border-bottom:1px dotted}
mark{background:#ff0;color:#000}
sub,sup{position:relative;vertical-align:baseline;line-height:0;}
sup{top:-.5em}
sub{bottom:-.25em}
svg:not(:root){overflow:hidden}
pre,textarea{overflow:auto}

/* --- 기본설정 --- */
* {box-sizing:border-box; -webkit-tap-highlight-color:rgba(0,0,0,.1);}
::-webkit-input-placeholder {font-size:inherit; color:#999;}
::-moz-placeholder {font-size:inherit; opacity:1;}
html {font-size:10px; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
body {font-size:12px; color:#333;  line-height:150%; font-family:'Noto Sans KR','dotum', sans-serif; font-weight:400; width:100%; }

header { position:absolute; left:0; width:100%; height:85px; top:40px; z-index: 100;}
header div { max-width:1170px; margin:0 auto; padding:0 20px;}
footer { height:315px;background: url("../img/foot.png") no-repeat 50% bottom;}
footer div { max-width:1170px; margin:0 auto; position: relative;}
footer div p { display:block; position: absolute; left:50%; top:213px; width:152px;margin-left:-76px; background: url("../img/logo_foot.png") no-repeat 0 0;}
footer div p a { display:block; padding-top:40px;  font-size:16px; color:#dbdbeb; font-weight:500; text-decoration:none; }
footer div span { color:#dbdbeb; dispaly:block; position: absolute; right:0; top:173px; text-align: right; }
footer div span address { font-style:normal;font-size:12px; margin-bottom:5px; margin-right:5px; font-weight:300;}
.slideWrap { height:919px;}
.slideWrap .item { height:919px; }
.slideWrap .item p {font-size:23px; color:#2e3169; max-width:1100px; padding:0 20px; margin:0 auto; line-height:120%; letter-spacing:-2px; }
.slideWrap .item p strong {font-size:33px; display:block; font-weight:500; margin-bottom:18px; }
.slideWrap .item.type01 {background: url("../img/slide01.png") no-repeat 50% 0}
.slideWrap .item.type02 {background: url("../img/slide02.png") no-repeat 50% 0;}
.slideWrap .item.type03 {background: url("../img/slide03.png") no-repeat 50% 0;}

.slideWrap .item.type01 p { padding-top:413px}
.slideWrap .item.type02 p { padding-top:270px}
.slideWrap .item.type02 p strong{  margin-top:18px; }
.slideWrap .item.type03 p { padding-top:258px}

.slideWrap .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background: #ea5518;}
.slideWrap .owl-theme .owl-dots .owl-dot span {width: 9px;height: 9px; background: #aea4a1;}
.slideWrap .owl-theme .owl-nav.disabled+.owl-dots {margin-top: -50px; position: relative; z-index: 100;}
 
.container { max-width:1077px; margin:0 auto; padding:0 20px;}
.sec01 { margin-top:98px;}
.sec01 p { text-align:center; font-size:24px; color:#2e3169; margin-bottom:28px; line-height:100%; letter-spacing:-2px;}
.sec01 p strong{ display:block; font-size:40px; line-height:100%;  margin-top:10px; font-weight:500;}
.sec01 div { height:405px;background: url("../img/banner02.png") no-repeat 0 0;}
.sec02 { text-align:center; margin-top:70px;}
.sec02 span { display:block; margin-bottom:40px;}
.sec02 p {  font-size:35px; color:#2e3169; line-height:100%; letter-spacing:-2px; font-weight:500;}
.sec03 { overflow: hidden; margin-top:80px;}
.sec03 h2 { line-height: 100%; font-size:25px; border-bottom:1px solid #a1a1a1; color:#6a6a6a; padding-bottom:20px;  margin-bottom:20px;}
.sec03 dl { float:left; }
.sec03 dl:nth-of-type(1) {padding-right:5%;}
.sec03 dl:nth-of-type(3) { float:right; }
.sec03 dt { font-size:19px;  color:#6a6a6a;line-height: 100%; letter-spacing:-2px;  margin-bottom:20px; font-weight:500; }
.sec03 dd { font-size:16px;  color:#6a6a6a;line-height: 140%; letter-spacing:-1px; margin-bottom:12px; }
.sec03 dd span  { display: block;}
.sec03 dd .block { display: block; margin-top:10px;}
.sec03 dd button { height:40px; padding:0 20px; color:#fff;  letter-spacing:-1px;font-size:18px; font-weight:500; border-radius:24px; border:0; background: #53b3ef;}
.Joinus { display:none;}

@media only screen and (max-width: 880px){
   .slideWrap { height:718px;}
   .slideWrap .item { height:718px; }
   .sec01 div img { width:100%; display:block;}
   .slideWrap .item.type01 {background: url("../img/slide01.png") no-repeat 50% bottom; background-size:cover;}
   .slideWrap .item.type02 {background: url("../img/slide02.png") no-repeat 50% bottom; background-size:cover;}
   .slideWrap .item.type03 {background: url("../img/slide03.png") no-repeat 50% bottom; background-size:cover;}
   .sec03 dl { float:none; }
   .sec03 dl dd span  { display: inline;}
   .sec03 dl:nth-of-type(1) {padding-right:0;}
   .sec03 dl:nth-of-type(3) { float:none; }
   .sec03 dl dd .block{ display:inline; margin-top:0;}
   footer div p {  right:20px; }
   footer div span {  left:10px; margin-left:0; top:255px}
   footer div span address {  font-size:10px; } 
} 

@media only screen and (max-width: 500px){

   header { height:auto; top:20px; padding-left:20px;}
   header div {  padding:0;}
   header div img { height:40px;}
   footer { height:320px;background: url("../img/foot_mob.png") no-repeat 50% bottom; background-size: cover; margin-top:30px;} 
   footer div p {  right:50%; top:125px;  margin-right:-76px; background: url("../img/logo_foot_mob.png") no-repeat 0 0; background-size:141px auto; text-align:center;}
   footer div p a { font-size:14px; display: inline-block; padding:38px 5px 0 5px; }
   footer div span { left:0; margin-left:0; top:190px; height:85px; right:0; text-align: center;background: url("../img/copy_mob.png") no-repeat 50% bottom; background-size:258px auto;}
   footer div span address { font-size:10px; line-height:160%; font-weight:300; margin-right:0;} 
   footer div span img { display:none;}
   .slideWrap { height:518px;}
   .slideWrap .item { height:518px; }
   .slideWrap .item p {font-size:13px; color:#2e3169; max-width:1100px; padding:0 0; margin:0 auto; line-height:120%; letter-spacing:-1px; text-align:center; }
   .slideWrap .item p strong {font-size:20px; display:block; font-weight:500; margin-bottom:15px; }
   .slideWrap .item.type01 {background: url("../img/slide01m.png") no-repeat 50% bottom; background-size:cover;}
   .slideWrap .item.type02 {background: url("../img/slide02m.png") no-repeat 50% bottom; background-size:cover;}
   .slideWrap .item.type03 {background: url("../img/slide03m.png") no-repeat 50% bottom; background-size:cover;}

   .slideWrap .item.type01 p { padding-top:110px}
   .slideWrap .item.type02 p { padding-top:110px}
   .slideWrap .item.type02 p strong{  margin-top:12px; }
   .slideWrap .item.type03 p { padding-top:110px}

   .slideWrap .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background: #ea5518;} 
   .slideWrap .owl-theme .owl-nav.disabled+.owl-dots {margin-top: -30px; position: relative; z-index: 100;}
   
   .container { max-width:1077px; margin:0 auto; padding:0}
   .sec01 { margin-top:45px; background:#f5f5f5;}
   .sec01 p { text-align:center; font-size:13px; margin-bottom:-28px; letter-spacing:-1px; padding-top:30px; position: relative; z-index: 2;}
   .sec01 p strong{ font-size:20px; }
   .sec01 div { height:auto;background:none; position: relative; z-index: 1;}
   .sec01 div img { width:100%; display:block;}
   .sec02 { text-align:center; margin-top:80px;}
   .sec02 span { display:block; margin-bottom:17px;}
   .sec02 p {  font-size:20px; line-height:120%; letter-spacing:-1px; }
   .sec02 p span { display:block}
   .sec02 img { width:150px;}
   .sec03 {   margin-top:100px; padding:0 20px}
   .sec03 h2 { font-size:17px; padding-bottom:15px;  margin-bottom:20px;}
   .sec03 dl { float:none; margin-bottom:30px; }
   .sec03 dl:nth-of-type(1) {padding-right:0;}
   .sec03 dl:nth-of-type(3) { display:none}
   .sec03 dt { font-size:15px; line-height: 100%; letter-spacing:-1px; margin-bottom:15px; font-weight:500; }
   .sec03 dd { font-size:12px; line-height: 140%; letter-spacing:-1px; margin-bottom:12px; }
   .sec03 dd.ac { text-align:center; margin-top:20px;} 
   .sec03 dd .block{ display:block; margin-top:10px;}
   .sec03 dd button { height:40px; padding:0 30px; color:#3c1e1e; font-size:16px; border-radius:5px; background: #f7e317;}

   .Joinus { display:block;}
   .Joinus strong { display:block; font-size:15px; }
   .Joinus a { display:inline-block; text-decoration:none; color:#555}
}  