@charset "utf-8";

/************************************************ 
Version : 
Date : 2021-01-30
*************************************************/ 
@import "fontawesome.css"; 

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/nanum-gothic-v13-korean_latin-regular.eot'); /* IE9 Compat Modes */
	src: local('NanumGothic'),
		url('../fonts/nanum-gothic-v13-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/nanum-gothic-v13-korean_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/nanum-gothic-v13-korean_latin-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/nanum-gothic-v13-korean_latin-700.eot'); /* IE9 Compat Modes */
	src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
		url('../fonts/nanum-gothic-v13-korean_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/nanum-gothic-v13-korean_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-700.woff') format('woff'), /* Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/nanum-gothic-v13-korean_latin-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/nanum-gothic-v13-korean_latin-800.eot'); /* IE9 Compat Modes */
	src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'),
		url('../fonts/nanum-gothic-v13-korean_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/nanum-gothic-v13-korean_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-800.woff') format('woff'), /* Modern Browsers */
		url('../fonts/nanum-gothic-v13-korean_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/nanum-gothic-v13-korean_latin-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

/* reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,
h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,
table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {margin:0;padding:0;border:0;}
article,aside,details,dt,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block}
audio,canvas,progress,video {display:inline-block;vertical-align:baseline}

blockquote,q {quotes:none;}
blockquote:after,blockquote:before,q:after,q:before {content:'';content:none;}
hr {display:none;}
ol,ul {list-style:none;}
table {border-spacing:0;border-collapse:collapse;}

abbr[title] {border-bottom:1px dotted}
mark {background:#ff0;color:#000}
sub,sup {position:relative;vertical-align:baseline;line-height:0;}
sup {top:-.5em}
sub {bottom:-.25em}
svg:not(:root) {overflow:hidden}
pre,textarea {overflow:auto}
i {font-style:normal;}
/* --- 기본설정 --- */
* {box-sizing:border-box; -webkit-tap-highlight-color:rgba(0,0,0,.1);}
::-webkit-input-placeholder {font-size:inherit; color:#999;}
::-moz-placeholder {font-size:inherit; opacity:1;}
html {font-size:10px; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; height:100%;}
body {font-size:12px; color:#707070; line-height:150%; font-family: "Nanum Gothic", "굴림", Gulim, Dotum, Helvetica,sans-serif; font-weight:400; height:100%}

strong {font-weight:500;}
em, b {font-style:normal}
a {cursor:pointer; background-color:transparent; color:inherit;}
a,label,span {display:inline-block;}
a, a:hover {text-decoration:none;}
a:hover, a:focus, a:hover {outline:0;}

.clearfix {*zoom:1;}
.clearfix:after,.clearfix:before {display:table;line-height:0;content:'';}
.clearfix:after {clear:both;}
.hidden, caption {position:absolute;overflow:hidden;clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;padding:0;border:0;}

button,html input[type=button],input[type=reset],input[type=submit] {cursor:pointer;-webkit-appearance:button; border-radius:0;}
button,input,optgroup,select,textarea {margin:0;font:inherit;}
button,select {text-transform:none}
button[disabled],html input[disabled] {cursor:default; background-color:#f8f8f8; border-color:#eee;}
button::-moz-focus-inner,input::-moz-focus-inner {padding:0;border:0;outline:0;}
input {line-height:normal; outline:none;}
input[type=checkbox],input[type=radio] {box-sizing:border-box;padding:0;vertical-align:middle;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {height:auto;}
input[type=search] {-webkit-appearance:textfield;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {-webkit-appearance:none}
optgroup {font-weight:bold}

button {margin:0;padding:0;cursor:pointer;border:0;background:0 0; outline:none;}
input[type=checkout],input[type=radio] {margin-right:.4rem; padding:.5rem .5rem .3rem; border:1px solid #555;}
input[type=search] {box-sizing:content-box}
input[type=number],input[type=password],input[type=tel],input[type=text] {padding:7px 10px; border:1px solid #d5d5d5;}
select {padding:.4rem;border:1px solid #d5d5d5;}
textarea {padding:10px; border:1px solid #d5d5d5; width:100%;}
 
/* layout */ 
.wrapper {width:100%; height:100%; position:relative;}

.container {width:100%; margin:0 auto; display:table; table-layout: fixed; height:100%;}
.container .inner {position:relative; max-width:1200px; height:100%; margin:0 auto; z-index:2} 
.container:after {content:""; position:absolute; top:0; left:0; right:0; width:100%; background-color:#F8F8F8; z-index:1; height:44px; border-bottom:1px solid #707070;}
.pc-none {display:none!important;}

/* header */
.mob-btn {display:none;}
.btn-menu {position:absolute; height:6rem; top:0; width:6rem; left:0; font-size:2.4rem;} 
.btn-back {position:absolute; height:6rem; width:5rem; left:0; font-size:2.4rem;} 
 
.header {position:relative; width:100%; height:4.5rem; } 
.header .inner {position:relative; width:1200px; margin:0 auto; z-index:2} 
.header .inner h1 {position: absolute; left:0; top:1rem;}
.header .head_info {height:4.5rem; overflow: hidden; padding-top:10px; text-align:right;}
.header .head_info p {display:inline-block; font-weight:500; color:#000;} 
.header .head_info p strong{font-weight:700;} 
.header .head_info .side_menu {display:inline-block; margin-left:1rem;}
.header .head_info .side_menu button {display:inline-block; padding:1px 5px; color:#373737; border:1px solid #ccc; border-radius:3px; background-color:#fff;} 
 
/* lnb */
.left_menu {position:absolute; left:0; top:4.5rem; bottom:0; width:200px; height: calc(100% - (45px + 0px));}
.left_menu .left_top {height:6.8rem; padding:2.5rem 1.8rem 0; background-color:#4B62AD; box-sizing:border-box; } 
.left_menu .left_top p {color:#fff; text-align:center; font-weight:700; font-size:2rem;} 

.left_menu .lnb_wrap {width:200px; display:table; table-layout:fixed; height: calc(100% - (70px + 0px)); border:1px solid #4B62AD; border-bottom:0;} 
.left_menu .lnb_wrap > ul > li {border-bottom:1px solid #e8e8e8; position: relative;}
.left_menu .lnb_wrap > ul > li i { position: absolute; right:1.5rem; top:50%; margin-top:-1rem; font-size:1.8rem;}
.left_menu .lnb_wrap > ul > li a {display:block; line-height:4.3rem; padding-left:2rem; font-weight:700; font-size:1.4rem}
.left_menu .lnb_wrap > ul > li.selected a,
.left_menu .lnb_wrap > ul > li a:hover {color:#fff; background:#6b9bd2}
 

.contents {margin-left:20rem; padding:3rem 0 4rem 3rem;} 
.contents * {font-size:1.4rem}
.contents h2 {margin-bottom:3rem; font-size:2rem; position:relative; padding-left:1.5rem; padding-bottom:2rem; border-bottom:1px solid #eee;}
.contents h2:before {content:""; position:absolute; left:0; top:0; height:1.7rem; width:3px; background-color:#6b9bd2;}
.contents h3 {font-size:1.6rem; margin-bottom:1rem; margin-top:4rem; color:#4B62AD;} 

.contents.regist {margin:0 auto; padding:3rem 1rem 4rem; max-width:80rem;}

/* --- 버튼 --- */
.btn-wrap {text-align:center; margin-top:2rem;}
.btn-wrap.tr {text-align:right;} 
.btn-comm {display:inline-block; min-width:10rem; height:4rem; line-height:4rem; border-radius:.4rem; border:2px solid #999; padding:0 1rem; margin:0 .4rem; text-align:center; vertical-align:top;}
button.btn-comm {padding:0 1rem; line-height:normal;}
.btn-comm i {display:inline-block; font-size:1.5rem; font-weight:500; letter-spacing:-1px;}
.btn-comm.red {border:2px solid #e7355c; background:#e7355c; color:#fff;}
.btn-comm.blue {border:2px solid #6b9bd2; background:#6b9bd2; color:#fff;} 
.btn-comm.grey {border:2px solid #999; background:#999; color:#fff;} 
.btn-comm.redline {border:2px solid #e7355c; color:#e7355c;}
.btn-comm.blueline {border:2px solid #6b9bd2; color:#2a63a4;} 
.btn-comm.Submit { background:#1f1b1c; border:0; color:#fff; height:4rem; line-height:0; min-width:11rem; padding:0 1.5rem; margin:0; cursor: pointer;} 
 

.text-wrap {font-size:1.4rem; margin-bottom:1rem;}
.btn-wrap + .text-wrap {margin-top:2rem;}
.btntxt-wrap {overflow: hidden; margin-bottom:1rem;}
.btntxt-wrap p {float:left; margin-top:1.5rem;}
.btntxt-wrap button {float:right; height:3rem; min-width:6rem; margin:0; padding:0 1rem;}
.btntxt-wrap button i {font-size:1.3rem;}
.h3-wrap {overflow: hidden; margin-bottom:1rem;}
.h3-wrap h3 {float:left; margin:0;} 
.h3-wrap p {float:right; color:#e7355c; font-size:1.2rem;}

.info-text {text-indent:-1.5rem; padding-left:1.5rem; margin-top:.5rem;}
.info-text + .info-text {margin-top:.2rem;} 

.term-list {border:1px solid #ccc; padding:1rem; padding:.5rem 2rem 2rem; border-radius:.4rem;}
.term-list li {margin-top:1.5rem; position:relative;}
.term-list li strong {font-weight:700;}
.term-list li button {position:absolute; right:-1rem; top:0; font-size:2rem; width:3rem;}
.info-login {margin-top:3rem; font-size:1.6rem; text-align:center;}
.info-login .btn-login {text-decoration:underline; font-weight:700;}

/* --- table --- */ 
.table-wrap table {width:100%;} 
.table-wrap table th {background:#4a5765; height:4.5rem; color:#fff; font-weight:500;}
.table-wrap table td {height:4.5rem;text-align:center; border-bottom:1px solid #ddd; padding:1rem .5rem;}
.table-wrap table td a {display:block; overflow: hidden; width:100%;}
.table-wrap table td a:hover {text-decoration:underline;}
.table-wrap table td.left {text-align:left;}
.table-wrap table td.right {text-align:right;}
.table-wrap table td .done {color:#e7325c;} 
.table-wrap table td .btn-view {border:1px solid #ddd; padding:.4rem 1rem; font-weight:500; min-width:13rem; margin-top:.5rem;} 

.table-row {border-top:1px solid #4a5765; overflow:hidden; border-bottom:1px solid #ccc;}
.table-row table {width:100%;} 
.table-row th {height:4.5rem; padding:0 1.5rem; border-bottom:1px solid #ddd; border-left:1px solid #ddd; background-color:#f6f6f6; font-weight:700; text-align:left;} 
.table-row td {border-bottom:1px solid #ddd;border-left:1px solid #ddd; padding:.5rem 1rem;} 
.table-row th:first-child,
.table-row tr td:first-child {border-left:0;}
.table-row td label {margin-right:10px; vertical-align:middle;}
.table-row tr:last-child th,
.table-row tr:last-child td {border-bottom:0;}
.table-row tr td .tdbtn {height:3rem; min-width:6rem; margin:0; padding:0 1rem; border:1px solid #999; background:#999; color:#fff;}
.table-row tr td .tdbtn i {font-size:1.3rem;}
.table-row + .h3-wrap {margin-top:3rem;}
.table-row td input[type="text"],
.table-row td input[type="password"] {width:50%;}
.table-row td textarea {width:100%; height:20rem;}
 
.table-row.view th {width:15%}  
.table-row.view td {width:85%} 

.pro-list {border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.pro-list th {height:3rem; text-align:center; font-weight:700; border-left:0;}
.pro-list td {height:3rem; border-top:1px solid #ccc;}
.pro-list td.center {text-align:center; padding:2rem;} 
.pro-list td .flex-box {display:flex; justify-content:space-between; align-items: center;}
.pro-list td .flex-box .btn-area01 {flex-shrink:0; width:11rem; text-align:center;}
.pro-list td .flex-box .btn-area02 {flex-shrink:0; width:16rem; text-align:center;}
.pro-list td p {display:flex; align-items: center; flex-grow:1;}
.pro-list td .img {flex-shrink: 0; width:5rem; height:5rem; border:1px solid #ccc;}
.pro-list td .pnome {flex-grow:1; padding-left:1rem;}

.pro-list td button.btn-up {height:3rem; min-width:3rem;  padding:0; border:1px solid #6b9bd2; border-radius:4px; color:#6b9bd2;}
.pro-list td button.btn-down {height:3rem; min-width:3rem; padding:0; border:1px solid #6b9bd2; border-radius:4px; color:#6b9bd2;}

.pro-list td button {height:3rem; min-width:6rem; margin:0; padding:0 1rem;}
.pro-list td button i {font-size:1.3rem;}
 
.table-row td .radio-wrap {margin-bottom:1rem;} 

.table-row td .nick-name {width:50%;}
.table-row td .nick-name input[type="text"] {width:81%;}

.table-row td .pass-wrap {width:50%; position:relative;}
.table-row td .pass-wrap input[type="text"],
.table-row td .pass-wrap input[type="password"] {width:100%;}
.table-row td .pass-wrap button {width:3rem; height:3rem; position:absolute; right:.5rem; font-size:2rem;}

.table-row td .zip-code {width:50%;}
.table-row td .zip-code input[type="text"] {width:75.5%;}

.table-row td .address-wrap {width:50%;}
.table-row td .address-wrap input[type="text"] {width:100%; margin-top:.5rem;}

.table-row td .wid100 {width:100%!important;}
.table-row td .wid50 {width:50%!important;}
.table-row td .price {width:15rem!important; text-align:right;}

.contents.regist .table-row td input[type="text"],
.contents.regist .table-row td input[type="password"] {width:100%;}

.contents.regist .table-row td > input[type="text"],
.contents.regist .table-row td > input[type="password"] {width:60%;} 
 
.contents.regist .table-row td .nick-name {width:60%;}
.contents.regist .table-row td .pass-wrap {width:60%;}
.contents.regist .table-row td .address-wrap {width:100%;}
.contents.regist .table-row td .zip-code {width:60%;}
.contents.regist .table-row td .nick-name input[type="text"] {width:80%;} 
.contents.regist .table-row td .zip-code input[type="text"] {width:73%;}

.time-area {display:block; overflow: hidden; width:40rem;}
.time-area span {display: block; width:45%; height:3rem; position: relative;}
.time-area span button {width:3rem; height:3rem; position:absolute; top:0; right:.3rem;}
.time-area span button i {font-size:2.2rem; color: #999; margin-top:0;}
.time-area span input {height:3rem; width:100%!important;}
.time-area .start-date {float:left;}
.time-area .end-date {float:right;}
.time-area .time {float:left; margin-left:1rem;}
.time-area .select-wrap {float:left; margin-left:1rem; width:auto}
.time-area .select-wrap select {height:3rem;}
.time-area em {display:inline-block; text-align: center; width:10%; line-height:3rem;}
.time-area i {display:block; float: right; margin-top:.4rem;} 

/* --- pagination --- */ 
.btn-wrap + .pagination {margin-top:-3.2rem;} 
.pagination {text-align:center;} 
.pagination i {margin-top:.2rem;}
.pagination .num {display:inline-block;margin:0 20px 0 20px;}
.pagination .btn-page {vertical-align: top;}
.pagination .btn-prev,
.pagination .btn-last {margin-left:2px;}
.pagination .num a {font-size:1.4rem; vertical-align: top; color:#999; display:inline-block; width:3rem; height:3rem; line-height:3rem;} 
.pagination .num a.active,
.pagination .num a:hover {color:#e7325c; font-weight:500;} 
.btn-first {display:inline-block; border:1px solid #ccc; width:3rem; height:3rem; font-size:2.2rem;}
.btn-last {display:inline-block; border:1px solid #ccc; width:3rem; height:3rem; font-size:2.2rem;}
.btn-next {display:inline-block; border:1px solid #ccc; width:3rem; height:3rem; font-size:2.2rem;}
.btn-prev {display:inline-block; border:1px solid #ccc; width:3rem; height:3rem; font-size:2.2rem;} 

/* LAYER */
.layer-wrap {overflow:hidden; position:fixed;top:0;left:0;z-index:250;width:100%;height:100%;background-color:rgba(0,0,0,0.8)} 
.layer {position:absolute;top:50%;left:50%;z-index:250; width:104rem; margin-bottom:5rem; transform: translate(-50%, -50%); width:104rem;background-color:#fff;}
.layer > .layer-cont .h1-wrap {position:relative;display:block;margin:0 0 3rem;}
.layer > .layer-cont {padding:4rem;}
.layer > .layer-cont .down-pop-wrap p {text-align:right; font-size:1.6rem; margin-bottom:1rem;}
.layer > .btn-layer-close {top:2.5rem; right:4rem; position: absolute; width:3rem; height:3rem; font-size:3rem; color:#666;} 
.layer > .btn-layer-close span {text-indent:-999px; overflow:hidden;}


/* --- ie11 대응 --- */ 
@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop, input[type="file"] {height:3rem;} 
}  
 

/* --- 모바일--- */ 
@media only screen and (max-width:960px) {
	/* layout */ 
	.wrapper {width:100%; height:100%; position:relative;}
	.container {width:100%; margin:0 auto; display:table; table-layout: fixed; height:100%;} 
	.container:after {display:none;}

	.mob-none {display:none!important;}
	.pc-none {display:block!important;}
	.ovf {overflow: hidden!important}

	/* header */
	.mob-btn {display:block; position: relative; z-index:101;}
	.btn-menu {position:fixed; top:.8rem; left:1.5rem; width:3rem; height:3rem; font-size:2.4rem;} 
	.btn-back {position:fixed; top:.8rem; left:1.2rem; width:3rem; height:3rem; font-size:2.4rem; color:#bbb;} 

	.mob-wrap {display:block; position: fixed; left:-100%; top:0; bottom:0; width:100%; background: rgba(0, 0, 0, .7); z-index:200;} 
	.mob-wrap .menu-close {position:absolute; left:81%; font-size:2.2rem; top:1.3rem; color:#bbb; z-index:102;}
	.header {position:relative; height:auto; width:90%; background-color:#fff;} 
	.header .inner {position:relative; width:100%; margin:0; z-index:2} 
	.header .inner h1 {position: static; padding:1.5rem 2rem 0;}
	.header .head_info {height:auto; padding:2rem; text-align:left;} 
	.header .head_info .side_menu { display:block; position:absolute; top:24rem; left:0; width:100%; margin:0; padding:2rem;}
	.header .head_info .side_menu button { height:4rem; width:100%; padding:0; font-size:1.4rem; border:2px solid #ccc;} 
	
	/* lnb */
	.left_menu { top:9rem; bottom:0; width:90%; height: calc(100% - (45px + 0px)); background-color:#fff;}
	.left_menu .left_top {height:auto; padding:2rem 2rem;  } 
	.left_menu .left_top p { text-align:left; font-size:1.8rem;}  
	.left_menu .lnb_wrap {width:100%; height: calc(100% - (70px + 0px)); border:0; border-bottom:0;} 
 
	.contents {margin-left:0; padding:0;}  
	.contents .conts-in {padding:6.5rem 2rem 2rem;}
	.contents h2 {position:fixed; width:100% ; margin:0; font-size:2rem; padding:1.5rem; text-align:center; border-bottom:1px solid #eee; background-color:#fff; z-index:100;}
	.contents h2:before {display:none;}
	.contents h3 {font-size:1.6rem; margin-bottom:0; margin-top:1rem} 
	.contents.regist {padding:0;} 

	/* --- 버튼 --- */
	.btn-wrap {text-align:center; margin-top:2rem; display:flex;} 
	.btn-comm {margin:0 .1rem; flex: 1 1 40%;} 

	.text-wrap {font-size:1.4rem; margin-bottom:1rem;}
	.btn-wrap + .text-wrap {margin-top:2rem;}
	.btntxt-wrap {margin-bottom:1rem;}
	.btntxt-wrap p {margin-top:.5rem;}
	
	.h3-wrap {margin-bottom:1rem;}
	.h3-wrap h3 {margin:0;}
	.h3-wrap p {margin:0;}

	.info-text {text-indent:-1.5rem; padding-left:1.5rem; margin-top:.5rem;}
	.info-text + .info-text {margin-top:.2rem;} 

	.term-list {border:1px solid #ccc; padding:1rem; padding:.5rem 2rem 2rem; border-radius:.8rem;}
	.term-list li {margin-top:1.5rem;}
	.term-list li strong {font-weight:700;}

	.info-login {margin-top:3rem; font-size:1.4rem; text-align:center;}
	.info-login .btn-login {text-decoration:underline; font-weight:700;}

	/* --- table --- */ 
	.table-wrap.line {border-top:1px solid #ccc; margin-top:3rem;}
	.table-wrap table {width:100%;} 
	.table-wrap table th {display:none;}
	.table-wrap table tr { border-bottom:1px solid #ddd;}
	.table-wrap table td {display:block; height:auto; text-align:left; border-bottom:0; padding:.7rem .5rem;}
	.table-wrap table td .mob-style {display:flex;}
	.table-wrap table td .mob-style em {flex-shrink:0; width:6.5rem;}
	.table-wrap table td .mob-style span {flex-grow:1;} 

	.table-wrap table tr td:nth-of-type(2) {padding-top:2rem; font-weight:700; color:#333;} 	
	.table-wrap table tr td:nth-of-type(8) {padding-bottom:2rem;} 	
	.table-wrap table tr td:nth-of-type(8) button {width:48%;}
	.table-wrap table tr td:nth-of-type(8) button {width:48%;}
	.table-wrap table tr td:nth-of-type(8) button[disabled],
	.table-wrap table tr td:nth-of-type(8) button[disabled="disabled"] {background-color: #eee; border-color:#eee;}

	.table-wrap table tr td:nth-of-type(1),
	.table-wrap table tr td:nth-of-type(5),
	.table-wrap table tr td:nth-of-type(6) {display:none;}  

	
	.table-row > table {table-layout:auto; display:block; width:100%;} 
	.table-row th {display:block; height:auto; padding:.8rem 1rem; width:100%;} 
	.table-row th br {display:none;} 
	.table-row td {display:block; border-left:0; padding:1rem 0 2.5rem; width:100%;} 
	.table-row td.in-table {padding-bottom:1rem;}
	.table-row.type-thnone th {display:none}  
	.table-row table > tr:last-child > th {border-bottom:1px solid #ddd}
	.table-row tr.type02 th {border-left:none; border-bottom:1px solid #ddd;}
	.table-row tr.type02 td:nth-of-type(1) {border-bottom:1px solid #ddd;}
	.table-row tr td .tdbtn {margin:0; padding:0 1rem; float: right;} 
	.table-row + .h3-wrap {margin-top:2rem;}
	.table-row td input[type="text"],
	.table-row td input[type="password"] {width:100%;}
	.table-row td textarea {height:10rem;}
	.table-row + h3 {margin-top:3rem; margin-bottom:1.5rem;} 

	.table-row.view {overflow: hidden;} 
	.table-row.view > table {display:table;} 
	.table-row.view th {display:table-cell; padding:.8rem 1.5rem; width:40%}  
	.table-row.view td {display:table-cell; padding:1em 1rem; width:60%; text-align:right;} 

	.pro-list {border-bottom:0; margin:-1rem 0; width:100%;}
	.pro-list th {display: none; bordrr-left:0}
	.pro-list td {height:auto; display:block; padding:.5rem 0;}
	.table-row tr:last-child > td:nth-of-type(1) .pro-list td {border-bottom:0;}
	
	.pro-list td .flex-box {display:flex; align-items: center;}
	.pro-list td .flex-box .btn-area01 {flex-shrink:0; width:15%;}
	.pro-list td .flex-box .btn-area02 {flex-shrink:0; width:22%;} 

	.pro-list td p {display:flex; align-items: center; flex-grow:1;} ㄹ
	.pro-list td button.btn-up {margin-bottom:.5rem;} 
	.pro-list td button + button {margin-top:.5rem;} 

	.table-row td .nick-name {width:100%;}
	.table-row td .nick-name input[type="text"] {width:77%;}

	.table-row td .pass-wrap {width:100%; z-index:1;} 
	.table-row td .pass-wrap input[type="text"],
	.table-row td .pass-wrap input[type="password"] {width:100%;} 
	.table-row td .pass-wrap button {width:3rem; height:3rem; position:absolute; right:.5rem; font-size:2rem;}

	.table-row td .zip-code {width:100%;}
	.table-row td .zip-code input[type="text"] {width:70%;}

	.table-row td .address-wrap {width:100%;}
	.table-row td .address-wrap input[type="text"] {width:100%; margin-top:.5rem;}

	.table-row td .wid100 {width:100%!important;}
	.table-row td .wid50 {width:100%!important;}
	.table-row td .price {width:91%!important;}

	.contents.regist .table-row td input[type="text"],
	.contents.regist .table-row td input[type="password"] {width:100%;}

	.contents.regist .table-row td > input[type="text"],
	.contents.regist .table-row td > input[type="password"] {width:100%;} 
	
	.contents.regist .table-row td .nick-name {width:100%;}
	.contents.regist .table-row td .pass-wrap {width:100%;}
	.contents.regist .table-row td .address-wrap {width:100%;}
	.contents.regist .table-row td .zip-code {width:100%;}
	.contents.regist .table-row td .nick-name input[type="text"] {width:77%;} 
	.contents.regist .table-row td .zip-code input[type="text"] {width:70%;}

	.time-area {width:100%;} 
	.time-area .start-date {width:47%;}
	.time-area .end-date {width:47%;}
	.time-area .time {width:47%;}
	.time-area em {width:6%;}

	/* --- pagination --- */ 
	.btn-wrap + .pagination {margin-top:-3.2rem;} 
	.pagination {text-align:center; } 
	.pagination i {margin-top:.2rem;}
	.pagination .num {display:inline-block;margin:0 20px 0 20px;}
	.pagination .btn-page {vertical-align: top;}
	.pagination .btn-prev,
	.pagination .btn-last {margin-left:2px;}
	.pagination .num a {font-size:1.4rem; vertical-align: top; color:#999; display:inline-block; width:3rem; height:3rem; line-height:3rem;} 
	.pagination .num a.active,
	.pagination .num a:hover {color:#e7325c; font-weight:500;} 
	.btn-first {display:inline-block; border:1px solid #ccc; width:3rem; height:3rem; font-size:2.2rem;}
	.btn-last {display:inline-block; border:1px solid #ccc; width:3rem; height:3rem; font-size:2.2rem;}
	.btn-next {display:inline-block; border:1px solid #ccc; width:3rem; height:3rem; font-size:2.2rem;}
	.btn-prev {display:inline-block; border:1px solid #ccc; width:3rem; height:3rem; font-size:2.2rem;} 

	/* LAYER */
	.layer-wrap {position: static; overflow:visible; background-color:#fff;} 
	.layer-wrap * {font-size:1.4rem}
	.layer {position: relative; top:0;left:50%;z-index:250; margin-bottom:2rem; transform: translate(-50%, 0); width:100%;}
	.layer > .layer-cont .h1-wrap {margin:0 0 2.5em; }
	.layer > .layer-cont .h1-wrap h1 { font-size:1.8rem;}
	.layer > .layer-cont {padding:2rem;} 
	.layer > .btn-layer-close {top:.5rem; right:1rem; font-size: 1.8rem;}
	.layer-wrap .table-row tr:last-child th {border-bottom:1px solid #ddd;}
 
	.mob-search .select-area {display:flex; justify-content:space-between;} 
	.mob-search .select-area select {width:49%; height:3rem;} 
	.mob-search .input-area {position:relative; margin-top:1rem;}
	.mob-search .input-area input {width:100%;}
	.mob-search .input-area button { position:absolute; right:0; top:0; width:3rem; height:3rem;}
}

@media only screen and (max-width: 380px) { 
	.term-list {padding:0 1rem 1.5rem;}
	 .term-list li label {font-size: 1.2rem;}
	 .term-list li label strong {font-size: 1.2rem;}
}