@charset "utf-8";

/************************************************ 
Version : 
Date : 2021-03-27
*************************************************/ 
 
@font-face{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
       url(../fonts/NotoSansKR-Light.woff) format('woff'),
       url(../fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face{
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Regular.woff) format('woff'),
        url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}
@font-face{
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Medium.woff) format('woff'),
        url(../fonts/NotoSansKR-Medium.otf) format('opentype');
}
@font-face{
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Bold.woff) format('woff'),
        url(../fonts/NotoSansKR-Bold.otf) format('opentype');
} 
 
/* reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,
h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,
table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {margin:0;padding:0;border:0;}
article,aside,details,dt,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block}
audio,canvas,progress,video {display:inline-block;vertical-align:baseline}
 
hr {display:none;}
ol,ul {list-style:none;}   
pre,textarea {overflow:auto} 

/* --- 기본설정 --- */
* {box-sizing:border-box; -webkit-tap-highlight-color:rgba(0,0,0,.1);}
::-webkit-input-placeholder {font-size:inherit; color:#999;}
::-moz-placeholder {font-size:inherit; opacity:1;}
html {font-size:10px; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; height:100%;}
body {font-size:12px; color:#707070; line-height:150%; font-family:'Noto Sans KR','dotum', sans-serif; font-weight:400; height:100%}

strong {font-weight:500;}
em, b {font-style:normal}
a {cursor:pointer; background-color:transparent; color:inherit;}
a,label,span {display:inline-block;}
a, a:hover {text-decoration:none;}
a:hover, a:focus, a:hover {outline:0;}
 
button,html input[type=button],input[type=reset],input[type=submit] {cursor:pointer;-webkit-appearance:button; border-radius:0;}
button,input,optgroup,select,textarea {margin:0;font:inherit;}
button,select {text-transform:none}
button[disabled],html input[disabled] {cursor:default; background-color:#f8f8f8; border-color:#eee;}
button::-moz-focus-inner,input::-moz-focus-inner {padding:0;border:0;outline:0;}
input {line-height:normal; outline:none;}
input[type=checkbox],input[type=radio] {box-sizing:border-box;padding:0;vertical-align:middle;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {height:auto;}
input[type=search] {-webkit-appearance:textfield;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {-webkit-appearance:none}  
button {margin:0;padding:0;cursor:pointer;border:0;background:0 0; outline:none;}
input[type=checkout],input[type=radio] {margin-right:.4rem; padding:.5rem .5rem .3rem; border:1px solid #555;}
input[type=search] {box-sizing:content-box}
input[type=number],input[type=password],input[type=tel],input[type=text] {padding:7px 10px; border:1px solid #d5d5d5;}
select {padding:.4rem;border:1px solid #d5d5d5;}
textarea {padding:10px; border:1px solid #d5d5d5; width:100%;}  

.focusActive {display:block!important;}  

/* layout */ 
.wrapper {width:100%; height:100%; position:relative; min-width:128rem;} 

/* header */ 
header {position:relative; z-index:2; width:100%; height:6rem; border-bottom:.5rem solid #a50034; background:#333;} 
header .after {display:none; content:""; position:absolute; top:5.5rem; left:0; right:0; width:100%; z-index:2; height:2rem; border-bottom:.5rem solid #a50034; background:#fff;}
header > .inner {position:relative; margin:0 2rem 0 1.5rem; z-index:2; display:flex; justify-content:space-between;} 
header .inner h1 {color:#fff; font-size:1.7rem; padding-left:3rem; height:2.5rem; line-height:2.3rem; margin-top:1.5rem; font-weight:500; background:url('../img/logo01.png') no-repeat 0 50%; background-size:2.5rem auto;} 
header .inner nav {position:relative; z-index:2;}
header .inner nav .depth01 > li {float:left; color:#fff; font-size:1.4rem;}
header .inner nav .depth01 > li > a {display:block;  text-align:center; height:5.5rem; line-height:5.5rem; padding:0 2.5rem; position:relative;} 
header .inner nav .depth01 > li.on > a {color:#e6a802;}
header .inner nav .depth01 > li.on > a:after{content:""; position:absolute; bottom:-.5rem; left:50%; width:1rem; height:1rem; margin-left:-.5rem; background:#e6a802; border-radius:2.4rem;} 
header .inner nav .depth01 > li.on > a {color:#e6a802;}
header .inner nav .depth01.off > li > div {overflow:hidden;}
header .inner nav .depth01 > li > div {position:relative;}
header .inner nav .depth01 > li > div .depth02 {display:none; position:absolute; z-index:11; top:0; left:0; padding:1.5rem 0 .5rem 2.5rem; width:100%;} 
header .inner nav .depth01 > li > div .depth02 a {display:block; color:#333; font-size:1.3rem; line-height:2.5rem; white-space: nowrap;} 
header .inner nav .depth01 > li > div .depth02 a:hover {color:#a50034;}
header .inner nav .depth01 > li:nth-of-type(1) > div .depth02 {padding-left:1rem;}
header .inner nav .depth01 > li:nth-of-type(2) > div .depth02 {padding-left:3rem;}
header .inner nav .depth01 > li:nth-of-type(3) > div .depth02 {padding-left:2rem;}
header .inner nav .depth01 > li:nth-of-type(4) > div .depth02 {padding-left:4.5rem;}  
header .inner nav .depth01 > li:nth-of-type(5) > div .depth02 {padding-left:1.5rem;} 
header .inner .search-wrap {display:flex; flex-wrap:wrap; justify-content:space-between; align-items:center;}
header .inner .search-area {background:#d9d9d9; width:17rem; height:2.5rem; padding-left:3rem; position:relative; border-radius:.4rem; border:1px solid #777;}
header .inner .search-area input {border:0; height:2.5rem; background:none; width:100%; padding-left:0;}
header .inner .search-area .btn-search {position:absolute; left:0; top:0; width:3rem; height:2.5rem; background:url('../img/ico_06.png') no-repeat 50% 50%; background-size:2rem auto;}
header .inner .btn-open {width:2.5rem; height:2.5rem; margin-left:1.5rem; background:url('../img/ico_07.png') no-repeat 50% 50%; background-size:2.5rem auto;}
header .inner .btn-search span, 
header .inner .btn-open span, 
header .inner .btn-close span {display:none;}

/* 전체메뉴 */
header .all-menu {display:none; position:absolute; left:0; top:0; width:100%; height:19rem; border-bottom:.5rem solid #a50034; background:#fff; z-index:10;}
header .all-menu .inner {width:128rem; height:14rem; margin:0 auto; display:flex; align-items:top; justify-content: center;} 
header .all-menu .inner .btn-close {position:absolute; right:2rem; top:1.5rem; width:2.5rem; height:2.5rem; background:url('../img/ico_09.png') no-repeat 50% 50%; background-size:2.5rem auto;}
header .all-menu .inner ul {font-size:1.3rem; margin:1.5rem 3rem .5rem;}
header .all-menu .inner ul li a {padding:.5rem; color:#333;}
header .all-menu .inner ul li a:hover {color:#e6a802;} 
header .all-menu .inner ul li strong {display:block; margin-bottom:1rem; padding:0 .5rem 1rem; font-size:1.5rem; font-weight:500; color:#333; border-bottom:.1rem solid #a50034; text-align:center;}

/* footer */ 
footer {background:#333; height:2.5rem; text-align:right; padding-right:2rem;} 
footer span {display:inline-block; height:2.5rem; line-height:2.5rem; padding-left:2.5rem; color:#fff; font-weight:500; text-align:left; font-size:1.2rem; background:url('../img/logo01.png') no-repeat 0 50%; background-size:2rem auto;}

/* container */ 
.container {width:100%; position:relative; z-index:1; } 

/* lnb */ 
.left-menu {display:flex; align-items:center; position:absolute; left:0; top:0; z-index:2; width:8rem; height:calc(100vh - (6rem + 2.5rem)); background:#e1e1e1;box-shadow:0px 3px 5px rgba(0,0,0,.4);}
.left-menu .depth01 > li {position:relative; width:8rem; height:5rem; text-align:center; margin:4rem 0;}
.left-menu .depth01 > li > a {position:relative; display:inline-block; width:5rem; height:5rem; text-indent:-999px; overflow:hidden;}
.left-menu .depth01 > li > i {position:absolute; left:50%; top:0; margin-left:-2.5rem; display:block; width:5rem; height:5rem;} 
.left-menu .depth01 > li:nth-of-type(1) > i {background:url('../img/ico_01.png') no-repeat 50% 50%; background-size:5rem auto;}
.left-menu .depth01 > li:nth-of-type(2) > i {background:url('../img/ico_02.png') no-repeat 50% 50%; background-size:5rem auto;}
.left-menu .depth01 > li:nth-of-type(3) > i {background:url('../img/ico_03.png') no-repeat 50% 50%; background-size:5rem auto;}
.left-menu .depth01 > li:nth-of-type(4) > i {background:url('../img/ico_04.png') no-repeat 50% 50%; background-size:5rem auto;}
.left-menu .depth01 > li:nth-of-type(5) > i {background:url('../img/ico_05.png') no-repeat 50% 50%; background-size:5rem auto;}  
.left-menu .depth-warp{display:none; position:absolute; left:8rem; top:0; width:17rem; text-align:left; box-shadow:3px 3px 5px rgba(0,0,0,.1); overflow:hidden; border-bottom-right-radius:.5rem; border-top-right-radius:.5rem;}
.left-menu .depth-warp p {line-height:5rem; height:5rem; font-weight:500; font-size:1.8rem; background:#e1e1e1; padding-left:1.5rem; color:#333;}
.left-menu .depth02 {padding:.5rem .5rem; background:#fff;} 
.left-menu .depth02 li a {display:block; line-height:3.5rem; height:3.5rem; font-weight:500; font-size:1.5rem; padding:0 1.5rem; border:1px solid #fff;}
.left-menu .depth02 li a:hover {border:1px solid #ccc;}

/* dashboard */ 
[class*="contents"]{position:relative; margin-left:8rem; z-index:1; height:calc(100vh - (6rem + 2.5rem));}  
[class*="contents-main"] { background:url('../img/bg_main.png') no-repeat 0 0; background-size:1920px auto;} 
[class*="contents-main"] .btn-area {position:absolute; left:56rem; top:26rem} 
[class*="contents-main"] .btn-area .btn-view {border:1px solid #ccc; background:#fff; width:9rem; height:2.5rem; border-radius:.2rem; color:#555;}
[class*="contents"] .dashboard {box-shadow:0px 3px 5px rgba(0,0,0,.4); position:absolute; right:2rem; top:2rem; width:27rem; border-radius:.6rem; overflow:hidden; background:#f5f5f5;}
[class*="contents"] .dashboard-head {display:flex; justify-content:space-between; align-items:flex-end; height:8rem; padding:2rem 1.5rem 1.5rem; background:#333; border-bottom:.2rem solid #a50034;}
[class*="contents"] .dashboard-head span {font-size:1.8rem; line-height:100%; color:#a1a1a1;} 
[class*="contents"] .dashboard-head strong {font-size:3rem; line-height:100%; color:#fff;} 
[class*="contents"] .status-list {display:flex; flex-wrap:wrap; justify-content:space-between; padding:2rem 1.5rem 1rem; font-weight:500;}
[class*="contents"] .status-list dt {width:50%; font-size:1.6rem; color:#8c8383; margin-bottom:1rem;}
[class*="contents"] .status-list dd {font-size:1.6rem; color:#333;}
[class*="contents"] .floor-list {border-top:1px solid #ddd;} 
[class*="contents"] .floor-list li a {position:relative; display:flex; flex-wrap:nowrap; padding:.6rem 1.5rem; border-bottom:1px solid #ddd; font-size:1.3rem;}
[class*="contents"] .floor-list li a:hover {color:#a50034;}
[class*="contents"] .floor-list li a:after {content:""; position:absolute; right:1.3rem; top:50%; margin-top:-.6rem; width:1.5rem; height:1.2rem;; background:url('../img/ico_08.png') no-repeat 100% 50%; background-size:1.2rem auto;}
[class*="contents"] .floor-list li a em{width:2.8rem; flex-shrink:0; font-size:1.8rem;}
[class*="contents"] .floor-list li a span{flex-grow:1;}
[class*="contents"] .floor-list li:last-child {margin-top:3rem;} 
[class*="contents"] .dashboard-foot {height:3.6rem; padding:1rem 1.5rem; background:#333; text-align:right;}
[class*="contents"] .dashboard-foot span {font-size:1.2rem; line-height:100%; color:#a1a1a1;} 
[class*="contents"] .dashboard-foot strong {margin-left:.8rem; font-size:1.4rem; line-height:100%; color:#fff;} 

 
@media only screen and (min-width:1921px){
   [class*="contents-main"] { background:url('../img/bg_main.png') no-repeat 0 0; background-size:cover;} 
   [class*="contents-main"] .btn-area {display:none;} 
}